<!-- First Normalize the layout -->
html, body {
	margin: 0;
	padding: 0;
	border: none;
	background: white;
}
<!-- Default Body Color -->
body {
	color: #993333;
	font-family: , Arial, sans-serif;
}
#header {
	background-color: transparent;
	background-image: url(../images/background-1024-490.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
}
.spanFormat {
  text-align: left;
  display: table-cell;
  min-width: 10px;
  padding-right: 10px;
}
h1 {
	color: black;
}
h2 {
	color: blue;
	margin-left: 20px;
	margin-right: 20px;
}
p {
	color: gray;
	margin-left: 20px;
	margin-right: 20px;
}
#footer p {
	color: black;
	font-size: small;
	text-align: center;
}
